@import "./Settings";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 
    var(--menu-height)
    1fr
    var(--footer-height);
  grid-template-areas: 
    "menu menu"
    "sidebar contents"
    "sidebar footer";
  height: 100vh;
}